.Navbar {
    height: 3em;
    width: 70%;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.Navbar-tabs {
    margin-left: auto;
    height: 100%;
    min-width: 30%;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

@media only screen and (max-width: 768px) {
    .Navbar {
        max-width: 100vh;
            width: 100%;
    }

    .Title {
        visibility: hidden;
    }
}