html * {
  box-sizing: border-box !important;
}

.App { text-align: center;
  color: white;
  background-color: #eff6f6;

  min-width: 100vw;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

}

.App-header {
  background-color: #005e61;

  min-width: 100%;
  padding: 0 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-body {
  color: black;
  background-color: white;

  max-width: 70%;
  padding: 10px;

  flex-grow: 1;
}

.App-footer {
  background-color: #002f30;

  min-width: 100%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.App-footer > *{
  padding: 10px 0;
}

@media only screen and (max-width: 768px){
  .App > *, .App-header > *, .App-footer > * {
    min-width: 100%;
    padding: 10px 10px 10px 10px;
  }
}