.Navtab {

    width: 33%;
    min-width: 6em;
    height: 100%;
    transform: skew(-20deg);

    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.Navtab:hover {
    background-image: linear-gradient(to top, #367e7e, #0000);
    cursor: pointer;
}

.Navtab > * {
    transform: skew(20deg);
}

@media only screen and (max-width: 768px) {
    .Navtab:hover {
        background-color: unset;
    }

    .Navtab {
        border-left: 2px solid #367e7e;
    }
}